*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.content {
    width: 100%;
    height: 100vh;
    
}



.wrapper {
    width: 1160px;
    margin: auto;
}



.section-three {
    width: 100%;
    height: 1212px;
    padding-top: 95px;
    text-align: center;
    background-color:#E9EDEF;
}

.our-work {
    
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}

.list {
    width: 582px;
    height: 58px;
    margin: auto;
    margin-top: 97px;
    margin-bottom: 71px;
    border: 1px solid #DADADA;
    text-align: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}

.list-item {
    border: 1px solid #D4D4D4;
    height: 58px;
    padding-top: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    
}

.list-item-active {
    border: 4px solid #18CFAB;
    color: #18CFAB;
    padding-top: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    
}

.all-tab {
    width: 79px;
}

.graphic-tab {
    width: 143px;
}

.web-tab {
    width: 117px;
}

.landing-tab {
    width: 137px;
}

.wordpress-tab {
    width: 106px;
}

/* .blocks {
    display: block;
} */

.blocks-row {
    width: 230px;
    height: 211px;
    border: 1px solid black;
    /* display: flex; */
    display: inline-block;
    
}

.blocks-item {
    border: 1px solid red;
    width: 100%;
    height: 211px;
    
    
    
}
/* .work-box-one {
    width: 100%;
    height: 633px;
    margin-top: 71px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0;
}

.work-box-two {
    width: 100%;
    height: 633px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0;
} */

.inactive {
    display: none;
}

.summer1{
    background-image: url('../Images/graphic-design/graphic-design1.jpg');
    background-repeat: no-repeat;
}

.autumn1{
    background-image: url('../Images/graphic-design/graphic-design2.jpg');
    background-repeat: no-repeat;
}

.winter1{
    background-image: url('../Images/graphic-design/graphic-design3.jpg');
    background-repeat: no-repeat;
}

.spring1{
    background-image: url('../Images/graphic-design/graphic-design4.jpg');
    background-repeat: no-repeat;
}

.summer2{
    background-image: url('../Images/graphic-design/graphic-design5.jpg');
    background-repeat: no-repeat;
}

.autumn2{
    background-image: url('../Images/graphic-design/graphic-design6.jpg');
    background-repeat: no-repeat;
}

.winter2{
    background-image: url('../Images/graphic-design/graphic-design7.jpg');
    background-repeat: no-repeat;
}

.spring2{
    background-image: url('../Images/graphic-design/graphic-design8.jpg');
    background-repeat: no-repeat;
}

.summer3{
    background-image: url('../Images/graphic-design/graphic-design9.jpg');
    background-repeat: no-repeat;
}

.autumn3{
    background-image: url('../Images/graphic-design/graphic-design10.jpg');
    background-repeat: no-repeat;
}

.winter3{
    background-image: url('../Images/graphic-design/graphic-design11.jpg');
    background-repeat: no-repeat;
}

.spring3{
    background-image: url('../Images/graphic-design/graphic-design12.jpg');
    background-repeat: no-repeat;
}

.load-more-btn {
    display: flex;
    justify-content: space-around;
    width: 168px;
    height: 63px;
    background-color: #18CFAB;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    color:#FFFFFF;
    cursor: pointer;
    margin: auto;
    padding-top: 12px;
    padding-right: 10px;
    border-radius: 4px;
    margin-top: 70px;
}

.plus {
    width: 18px;
    height: 19px;
    margin-top: 10px;
    margin-left: 15px;
    background-image: url('../Images/logos/Plus.png');
    background-repeat: no-repeat;
}

